# Hello

## Heart disease project
This is for classifying whether the patient has heart disease.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data/heart-disease.csv")

The information below shows information for patients with heart disease.

In [4]:
df.head(9)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1

In [ ]:
df.tail()

In [ ]:
df.head(15)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df.target.value_counts().plot(kind="bar");

![](6-step-ml-framework.png)

## Problem Definition:

In [ ]:
# T